Das ist ein einfacher Text

# Grösster Titel
## Mittlerer Titel
### Kleiner Text
1. Aufzählung
2. Aufzählung
*kursiv*
**Fett**
- bulletpoint
- bulletpoint
- mit Doppelklick komm ich wieder zurück in die Ansicht
- **Markdown muss ich nehmen über Cell und celltype oder direkt**
- *mit Run oder shift-return führe ich das ganze aus*

In [ ]:
print("Hello World")

In [1]:
input('"Wie alt bist du?"')

"Wie alt bist du?"40

'40'

In [2]:
Alter = input('"Wie alt bist du?"')

"Wie alt bist du?"vierzig

In [3]:
Alter

'vierzig'

In [4]:
Wonort = input('"wo wohnst du?"')

"wo wohnst du?"Bern

In [5]:
Wonort

'Bern'

In [6]:
str(Alter)

'vierzig'

In [7]:
float(Alter)

ValueError: could not convert string to float: 'vierzig'

In [8]:
type(Alter)

str

In [9]:
type("15-11-2019")

str

In [10]:
4- 5

-1

In [11]:
3+2

5

In [12]:
4**4

256

In [13]:
print("die zwei sternchen bedeuten 4 hoch 4")

die zwei sternchen bedeuten 4 hoch 4

In [14]:
4*4

16

In [15]:
4/4

1.0

In [17]:
256//4

64

In [18]:
8%3

2

In [19]:
print("das prozentzeichen zeigt, wie viele dieser werte in der ersten zahl platz haben")

das prozentzeichen zeigt, wie viele dieser werte in der ersten zahl platz haben

In [20]:
a = 4

In [21]:
4==a

True

In [22]:
9==a

False

In [23]:
print("mit dem doppelgleich vergleicht man etwas miteinander")

mit dem doppelgleich vergleicht man etwas miteinander

In [24]:
3<5

True

In [25]:
87>900

False

In [26]:
print("nun gehts um listen")

nun gehts um listen

In [29]:
type([1,"sieben", 4,5,6])

list

In [30]:
a=[1,"sieben", 4,5,6]

In [31]:
a

[1, 'sieben', 4, 5, 6]

In [32]:
a[1]

'sieben'

In [33]:
a[-1]

6

In [34]:
a[0]

1

In [35]:
a[1:4]

['sieben', 4, 5]

In [36]:
a[0::2]

[1, 4, 6]

In [37]:
print("dann nimmt er jedes zweite element raus mit den zwei doppelpunkten")

dann nimmt er jedes zweite element raus mit den zwei doppelpunkten

In [38]:
a[2]

4

In [39]:
a[0,3,1]

TypeError: list indices must be integers or slices, not tuple

In [40]:
a[3]

5

In [42]:
b=[a[0],a[2]]

In [43]:
b

[1, 4]

In [44]:
a.append(a[0])

In [45]:
a

[1, 'sieben', 4, 5, 6, 1]

In [46]:
#so kann ich kommentieren, ohne dass es den code durcheinanderwirbelt

In [47]:
a.pop()

1

In [48]:
#mit pop nehm ich das weg, was zu hinterst ist

In [49]:
a.pop()

6

In [50]:
a.append("hello")

In [51]:
a

[1, 'sieben', 4, 5, 'hello']

In [52]:
a.pop(2)

4

In [53]:
a

[1, 'sieben', 5, 'hello']

In [54]:
a.append(6,8,12,45.6)

TypeError: append() takes exactly one argument (4 given)

In [55]:
a.append(45.7)

In [56]:
a

[1, 'sieben', 5, 'hello', 45.7]

In [57]:
a.append(3)

In [58]:
a.append(12)

In [59]:
a

[1, 'sieben', 5, 'hello', 45.7, 3, 12]

In [60]:
a.remove("hello")
#remove sucht den effektiven begriff, nicht den ort der liste. bei problemen jeweils googeln

In [61]:
a

[1, 'sieben', 5, 45.7, 3, 12]

In [62]:
a.insert(5,"HELLO")

In [63]:
a

[1, 'sieben', 5, 45.7, 3, 'HELLO', 12]

In [64]:
range(0,99)

range(0, 99)

In [65]:
list(range(0,99))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98]

In [66]:
longlist=list(range(0,99))
#ich benenne hier die liste so, wie ich will. ich könnte auch meineliste sagen oder nullbisachtundneunzig

In [67]:
len(a)

7

In [68]:
len(longlist)

99

In [69]:
#mit len kann ich schauen, wie lang eine liste ist, wie viele elemente darin sind

In [70]:
a.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [71]:
#funktioniert nicht, wenn es in derr liste verschiedene elemente hat

In [74]:
a.remove["sieben"]

TypeError: 'builtin_function_or_method' object is not subscriptable

In [75]:
a.remove("HELLO")

In [76]:
a

[1, 5, 45.7, 3, 12]

In [77]:
a.sort()

In [79]:
a

[1, 3, 5, 12, 45.7]

In [81]:
sorted(a)

[1, 3, 5, 12, 45.7]

In [82]:
#wenn etwas an den namen der liste angehängt wird zum beispiel mit a.append oder a.remove, dann nimmt man etwas weg un verändert damit die ursprungsliste. mit sorted (a) aber ists dann einfach dann sortiert.

In [83]:
b = sorted(a)

In [84]:
b

[1, 3, 5, 12, 45.7]

In [85]:
a.sort(reverse=True)

In [86]:
a

[45.7, 12, 5, 3, 1]

In [87]:
#dictionaries

In [95]:
dic_lst = [{"Animal": "Dog", "Size":45, "Height":2312, "Name":"Fido"},
         {"Animal":"Cat", "Size":15, "Height":16, "Name":"Cleo"},
          {"Animal":"Bird", "Size":5,"Height":10, "Name":"Coco"}]

In [96]:
type(dic_lst)

list

In [97]:
dic_lst[2]["Size"]

5

In [99]:
dic_lst

[{'Animal': 'Dog', 'Size': 45, 'Height': 2312, 'Name': 'Fido'},
 {'Animal': 'Cat', 'Size': 15, 'Height': 16, 'Name': 'Cleo'},
 {'Animal': 'Bird', 'Size': 5, 'Height': 10, 'Name': 'Coco'}]

In [100]:
#kommas nicht vergessen hinte den seltsamen klammern

In [103]:
lst=list(range(100))

In [104]:
zahl=lst[0]

In [105]:
str(zahl)

'0'

In [108]:
newlst=[]
for zahl in lst:
    newlst.append(str(zahl))
    #das ist sehr wichtig, man braucht das ständig. for...in macht das dann mit jedem element in der liste, das ist ein loop,
    #er macht das dann von anfang an. man macht einfach eine neue liste

In [107]:
newlst

['0',
 '1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33',
 '34',
 '35',
 '36',
 '37',
 '38',
 '39',
 '40',
 '41',
 '42',
 '43',
 '44',
 '45',
 '46',
 '47',
 '48',
 '49',
 '50',
 '51',
 '52',
 '53',
 '54',
 '55',
 '56',
 '57',
 '58',
 '59',
 '60',
 '61',
 '62',
 '63',
 '64',
 '65',
 '66',
 '67',
 '68',
 '69',
 '70',
 '71',
 '72',
 '73',
 '74',
 '75',
 '76',
 '77',
 '78',
 '79',
 '80',
 '81',
 '82',
 '83',
 '84',
 '85',
 '86',
 '87',
 '88',
 '89',
 '90',
 '91',
 '92',
 '93',
 '94',
 '95',
 '96',
 '97',
 '98',
 '99']